/* general settings */
.App {
  text-align: center;
  margin: 0 auto;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

:root {
  --orange-main: #fd7114;
}

main {
  width: 900px;
  min-height: 785px;
  margin: 0 auto;
}

header {
  width: 100%;
  z-index: 3;
  position: sticky;
  top: 0;
  height: 76px;
  background-color: #110f21;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 1120px;
  margin: 0 auto;
}

footer {
  width: 100%;
  background-color: #f1f1f3;
}

.footer {
  margin: 0 auto;
  width: 1120px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* atom classes */

.w-100 {
  width: 100%;
}

.pd-tb-12 {
  padding: 12px 0;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.page-404 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  align-items: center;
}

.favourite-alert {
  z-index: 2;
  position: fixed;
  top: 80px;
  right: 290px;
}

.header--register-wrapper {
  display: flex;
}

.search-panel {
  display: flex;
  justify-content: center;
  margin: 24px 0;
  background-color: white;
  border-radius: 4px;
  align-items: center;
  height: 65px;
}

.sort-disable {
  opacity: 0.4;
}

.MuiAutocomplete-input {
  padding-left: 30px !important;
}

.search-panel--category-wrapper {
  position: relative;
}

.search-panel--category-icon {
  position: absolute;
  top: 13px;
  left: 20px;
  z-index: 1;
}

.search-panel--sorting-icon {
  position: absolute;
  top: 11px;
  left: 11px;
  z-index: 1;
}

#demo-simple-select {
  padding-right: 8px;
}

.header--register {
  display: flex;
  align-items: center;
}

.header--vertical-line {
  margin: 0 17px;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
}

.register-form > input {
  width: 100%;
  padding: 10px;
}

.register-btn,
.login-btn {
  margin: 30px 0;
  height: 40px;
}

.header-on-login {
  display: flex;
  align-items: center;
}

.header-favourite-and-basket {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

.header-menu-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header-menu-item-email {
  opacity: 0.5;
}

.header-on-login--client {
  display: flex;
  align-items: center;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 14px;
  align-items: center;
  justify-items: center;
}

.product--product-img {
  width: 100%;
  height: 147px;
  border-radius: 6px;
  padding: 4px;
  object-fit: cover;
  overflow: hidden;
}

.product {
  position: relative;
  width: 209px;
  height: 212px;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
  border-radius: 4px;
}

.product:hover {
  cursor: pointer;
}

.product-info-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product--caption {
  height: 25px;
  overflow: hidden;
  padding: 0 10px;
  text-align: left;
}

.product--price {
  text-align: left;
  padding: 0 10px;
  font-weight: bold;
}

.one-product-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.one-product--buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.one-product--content-wrapper {
  display: flex;
  justify-content: space-around;
}

.one-product--img-wrapper {
  width: 420px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  box-shadow: 0px 4px 14px rgb(121 121 121 / 15%);
}

.one-product--description-wrapper {
  width: 350px;
  min-height: 320px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.one-product--description {
  width: 100%;
  max-height: 88px;
  overflow: hidden;
}

.one-product--title {
  width: 100%;
  max-height: 50px;
  margin-bottom: 15px;
  overflow: hidden;
}

.one-product-img {
  width: 400px;
  height: 300px;
  object-fit: contain;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.one-product-product-qty {
  font-weight: 500;
  padding: 0 10px;
}

.one-product--inc-dec-btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
}
.one-product--inc-dec-btn:hover {
  cursor: pointer;
  background-color: rgb(218, 218, 218);
}

.one-product--close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: none;
}

.one-product--close-btn:hover {
  cursor: pointer;
}

.user-settings {
  width: 900px;
  min-height: 785px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.user-settings--nav,
.user-settings--change-password,
.user-settings--main-info {
  width: 490px;
}

.user-settings--change-password-form,
.user-settings--main-info-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-settings--change-password {
  margin-top: 40px;
}

.user-settings--head {
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

.user-settings--orders-history-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-settings--order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-evenly;
  margin-top: 20px;
  width: 486px;
  height: 89px;
  border: 1px solid #eceef0;
  border-radius: 4px;
  box-shadow: 0px 4px 14px rgb(121 121 121 / 10%);
}

.order--order-id-wrapper,
.order--order-date-wrapper {
  text-align: left;
}

.order--order-price-wrapper {
  text-align: right;
}

.order--order-id-wrapper,
.order--order-date-wrapper,
.order--order-price-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card--img-wrapper {
  width: 125px;
  height: 123px;
  overflow: hidden;
  border-radius: 4px;
}

.card--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order--card {
  width: 560px;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border: 1px solid #eceef0;
  margin: 10px 0;
  border-radius: 4px;
}

.order--cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.order--order-info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.card--title-wrapper {
  margin-bottom: auto;
  margin-right: auto;
  padding: 25px 0;
}

.card--price-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-left: 1px solid #eceef0;
}
